body {
  text-align: center;
  background-color: #5b544f;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  font-size: 48px;
  color: white;
}
h2,
p {
  color: white;
}
main {
  height: 80vh;
}
#board {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  background-color: #948d87;
  border: 2px solid black;
  padding: 5px;
}
button:hover {
  background-color: #837c76;
}
button:active {
  background-color: #726b65;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}
.square {
  width: 100px;
  height: 100px;
  float: left;
}
.numSquare {
  width: 100px;
  height: 30px;
  text-align: center;
  justify-content: center;
  background-color: #c59974;
  font-size: 24px;
  float: left;
}
#tableContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
table {
  border-collapse: collapse;
  font-size: 20px;
  text-align: center;
  margin: 20px;
}
tr,
td {
  background-color: #948d87;
  border: 2px black solid;
  padding: 5px;
}

select {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  background-color: #948d87;
  border: 0;
}
